---
layout: default
format: work
header:
    image_fullwidth_staff: Kian_Header_idea_9.png
---

<!--Title-->
<div class="row t10">
    <div class="breadcrumbs">
    <a href="{{ site.url }}{{ site.baseurl }}/visual-media/">&#171; Other Visual Media</a>
    </div>
    <div class="medium-8 columns medium-push-4">
        <header>
            <div itemprop="name">
                <h1>{{ page.title }}</h1>
                {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
            </div>
        </header>

<!--Text content-->
        <div>
            {{ content }}
        </div>
        
        <!--Video-->
        
        {% for item in page.youtube %}
        {% if item.url-code %}
        <div class="center flex-video widescreen vimeo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.url-code }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% endfor %}
        
        {% for item in page.vimeo %}
        {% if item.url %}
        <div class="center flex-video widescreen vimeo">
            <iframe src="https://player.vimeo.com/video/{{ item.url }}" width="56" height="315" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
        {% endfor %}
        
        {% for item in page.drive %}
        {% if item.url %}
        <div>
            <iframe src="{{ item.url }}" width="640" height="640" allow="autoplay"></iframe>
        </div>
        {% endif %}
        {% endfor %}
        
        <!--Soundcloud-->

        {% for item in page.soundcloud %}
        {% if item.url %}
        <iframe width="100%" height="200" scrolling="no" frameborder="no" src="{{ item.url }}"></iframe>
        {% endif %}
        {% endfor %}

    </div><!-- /.medium-8.columns -->


    <!--Details-->

    <div class="medium-4 columns medium-pull-8">
        <div class="panel radius">
            <h3>Details</h3>
            <ul class="no-bullet">
                {% if page.media_type %}
                <li><strong>Media Type:</strong> {{ page.media_type }}</li>
                {% endif %}
                {% if page.role %}
                <li><strong>Role:</strong> {{ page.role }}</li>
                {% endif %}
                {% if page.release_date %}
                <li><strong>Release Date:</strong> {{ page.release_date }}</li>
                {% endif %}
                {% if page.length %}
                <li><strong>Length: </strong>{{ page.length }}</li>
                {% endif %}
                {% if page.orchestration %}
                <li><strong>Orchestration:</strong> {{ page.orchestration }}</li>
                {% endif %}
                {% if page.creator %}
                <li><strong>Creator:</strong> {{ page.creator }}</li>
                {% endif %}
                {% if page.social %}
                <li><strong>Link to Creator:</strong> {{ page.social }}</li>
                {% endif %}
                {% if page.availability %}
                <li><strong>Availability:</strong> {{ page.availability }}</li>
                {% endif %}
                {% if page.score %}
                <li><strong>Score:</strong> {{ page.score }}</li>
                {% endif %}
                {% if page.score_url %}
                <li style="text-align: center;"><a href="#" onclick="MyWindow=window.open('{{ page.score_url }}','MyWindow','toolbar=no,location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, width=1000, height=650'); return false;" id="yui_3_10_1_1_1399924008830_533" target="_blank" class="button tiny expand score" style="margin-bottom: 0; margin-top: 10px;"><strong>View Scores Here! ›</strong></a></li>
                {% endif %}
            </ul>
        </div>

        <!--Awards-->

        {% if page.awards %}
        <div class="panel radius">
            <h3>Awards</h3>
            {% for item in page.awards %}
            <ul class="no-bullet">
            <li><strong>{{ item.award_year }}</strong></li>
                {% if item.award_title %}
                <li>
                {% if item.award_url %}
                <a href="{{ item.award_url }}" target="_blank">
                {% endif %}
                {{ item.award_title }}
                {% if item.award_url %}
                </a>
                {% endif %}
                </li>
                {% endif %}
                {% if item.award_rank %}
                <li><i>{{ item.award_rank }}</i></li>
            {% endif %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}


    </div><!-- /.row -->
</div>
